@font-face {
    font-family: Blackout;
    src: url(../fonts/Blackout.ttf);
}

.hassubmenu:hover .subsubmenu{
    display: block !imporant;
    
}

.subsubmenu{
    display: none;
    position: relative;
    left: 165%;
    top: -40px;
}
@font-face {
    font-family: Captureit;
    src: url(../fonts/Captureit.ttf);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/BebasNeue-Regular.otf);
}
.CommonBody .page-tagline .title{
    margin-top: 10vh !important;
}

.gallery-popup .image-container .title{
    margin: 0px;
}

li a{
       font-family:'Bebas Neue';
       font-size: 24px;
}
.leftside{
	width: 30%;
}
 
.rightside{
	width: 30%;
}

#leftside_1{
	background-image: url("../resources/poster/BTMP1.png");
}

#rightside_1{
	background-image: url("../resources/poster/BTMP2.png");
}

#leftside_2{
	background-image: url("../resources/poster/BTMP3.png");
}


#rightside_2{
	background-image: url("../resources/poster/BTMP4.png");
}

#leftside_3{
	background-image: url("../resources/poster/BTMP5.png");
}


#rightside_3{
	background-image: url("../resources/poster/BTMP6.png");
}

#leftside_4{
	background-image: url("../resources/poster/BTMP7.png");
}

#rightside_4{
	background-image: url("../resources/poster/BTMP8.png");
}

#leftside_5{
	background-image: url("../resources/poster/BTMP9.png");
}


#rightside_5{
	background-image: url("../resources/poster/BTMP12.png");
}

.leftside , .rightside, .middleside{
	padding: 0px;
	height: 80vh;
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
}

.left{
    height: 80vh;
    padding: 0px;
}

.right{
    height: 80vh;
    padding: 2%;
    font-family:'Blackout';
}
.right-text{
    position: absolute;
    bottom: 9%;
}

.right-text-top{
    font-size: 35px;
    color: #000000;
    text-align: center;
}
.right-text-bottom{
    font-size: 75px;
    color: #fff;
    font-weight: bold;
}

.trailer{
    height: 80vh;
    padding: 0px;
}

.trailer iframe{
    width: 100%;
    height: 73.3%;
    position: absolute;
    bottom: 17%;
    border: 5px solid #fff;
   
}

.carousel-indicators{
	display: none;
}
.main{
    margin-top: 12vh;
    height: 80vh;
}


.carousel-control{
	opacity: 0;
}

body{
    background-image: url('../resources/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom-bar{
    position: relative;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    height: 8vh;
}
.carousel-control:focus, .carousel-control:hover{
	opacity: 0.5;
}


.CommonBody{
height: 92vh;
    overflow-y: auto;
}
.new-block{
padding: 10px;

}


::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
	border-radius: 1px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #000000;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}
.sorting-menu{
	margin-bottom: 10px !important;
}

.gallery-popup .swiper-container {
    padding-bottom: 100px;
    padding-top: 10px;
}

.page-tagline {
   
    margin-bottom: 10px !important;
   }

.sorting-item {
      border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(border.png) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(border.png) 30 round; /* Opera 11-12.1 */
    border-image: url('../resources/images/border.png') 30 stretch;
}

.inner{
    max-width: 60%;
    margin: 6% auto;
    color: black;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    background-color: #fbc01173;
    padding: 100px 40px;
    border: 8px #fbc011 solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 10px 10px grey;
}

.inner p{
	font-size: 20px;
    font-weight: 100;
    text-align: justify;
    line-height: 25px;
    margin-bottom: 2rem;
    font-family:Georgia;
}
.inner p span{
	font-weight: 900;
}
.inner h1{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 2rem !important;
}
.inner h2{
    font-size: 28px;
    margin-bottom: 2rem !important;
}
.inner h3{
	font-size: 25px;
    color: ghostwhite;
    text-align: left;
    margin-bottom: 1rem !important;
}

.new-block{
	background-color: transparent !important;
}

.sorting-menu a{
	color: white !important;
}

footer {
    background: #1b1b1b;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#bottom-text{
    letter-spacing: 1.4px;
}

.foot-text{
    font-size:32px;
    color:#171616;
    font-family:'Captureit';
    position: absolute;
    bottom:-3px;
    left: 25px;
    margin-left:10px;
    padding: 0px;
}

@media (max-width: 1400px) and (min-width: 1200px){
    .right-text-bottom {
        font-size: 65px;
    }
    .right-text-top {
        font-size: 30px;
    }
    .CommonBody{
        margin-top: 2%;
    }
    #bottom-text {
        letter-spacing: 1.1px;
    }
}

@media (max-width: 1200px) and (min-width: 1000px){
    header {
        top: 0px;
        background: #000;
    }
    .right-text-top {
        font-size: 26px;
        text-align: center;
    }
    .right-text-bottom {
        font-size: 60px;
    }
    .right-text {
        bottom: 3%;
        right: 11%;
    }
    #bottom-text {
        letter-spacing: 1.1px;
    }
    .trailer iframe {
        width: 130%;
        height: 64%;
        position: absolute;
        bottom: 37%;
        border: 5px solid #fff;
    }
}

@media (max-width: 1000px) and (min-width: 700px){
    header {
        top: 0px;
        background: #000;
    }
    .trailer iframe {
        height: 37%;
        bottom: 55%;
    }
    .right-text {
        bottom: 10%;
        right: 145%;
    }
    .right-text-top {
        font-size: 33px;
    }
}

@media (max-width: 700px) and (min-width: 500px){
    header {
        top: 0px;
        background: #000;
    }
    .trailer iframe {
        height: 39.5%;
        bottom: 55%;
        right: -11%;
        width: 120%;
    }
    .right-text {
        bottom: 10%;
        right: 145%;
    }
    .right-text-top {
        font-size: 24px;
    }
    .right-text-bottom {
        font-size: 55px;
    }
    .right-text {
        bottom: 14%;
        right: 128%;
    }
}

@media (max-width: 500px){
    header {
        top: 0px;
        background: #000;
    }
    .trailer iframe {
        height: 39.5%;
        bottom: 55%;
        right: -11%;
        width: 120%;
    }
    .right-text {
        bottom: 25%;
        right: 140%;
    }
    .right-text-top {
        font-size: 16px;
    }
    .right-text-bottom {
        font-size: 35px;
        text-align: center;
    }
    .right-text {
        bottom: 25%;
        right: 140%;
    }
    .foot-text{
        font-size:20px;
        bottom: 56px;
    }
    .inner{
        max-width: 100%;
        padding: 65px 15px;
        font-size: 20px;
    }
    .inner h1{
        font-size: 20px;
    }
    .inner h2{
        font-size: 16px;
    }
    .inner p {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }
    .default-arrow{
        display: none;
    }
}